html,
body {
  height: 100%;
}
body {
  font-family: 'Lucida Grande', 'Segoe UI', Ubuntu, Cantarell, Arial, sans-serif;
  margin: 0;
  padding: 0;
  font-size: 1rem;
}

#page-body {
  position: absolute;
  top: 53px;
  left: 0;
  right: 0;
  bottom: 0;
}
